*.pdf
*.doc
*.csv
*.xlsx
*.docx

# Ignorar archivos temporales de R
*.RDataTmp

# Ignorar completamente la carpeta NetworkAuthorship
NetworkAuthorship/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de compilación
node_modules/
dist/
build/

# Ignorar archivos de logs
*.log

# Ignorar archivos de imágenes grandes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# Ignorar archivos de datos grandes
*.csv
*.tsv
*.json
*.xml
*.parquet
*.avro
*.orc
*.hdf5
*.h5


# Ignorar el script scopus.py en cualquier ubicación
Scopus.py

# No ignorar el archivo maestra_procesada.xlsx en la carpeta Scopus
!Scopus/maestra_procesada.xlsx

!Scopus/scopus_resultados_beta.xlsx
!Scopus/test_completo.xlsx

!GSE_establecimientos/maestra_rbd.xlsx

!base_maestra/base_maestra.xlsx